@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

html, body, h1, h2, h3, h4, ul, ol, dl, li, dt, dd, p, div, span, img, a, table, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-size: 100%;
  font-weight:200;
  font-family:"Noto Sans Japanese";
  vertical-align:baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
article, header, footer, aside, figure, figcaption, nav, section {
  display:block;
}
body {
  line-height:1;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
ol, ul {
  list-style: none;
  list-style-type: none;
}

a{
  text-decoration:none;
  color:#000;
}

/*reset*/

.wrapper{
  width:100%;
  margin:0 auto;
}
header{
  padding:0 10px;
  height:65px;
  display:flex;
  background:#eae1cf;
}
header h1{
  font-size:35px;
  font-weight:350;
  padding-top:15px;
}
header ul{
  display:flex;
  font-size:20px;
  padding-top:22.5px;
  margin-left:auto;
}
.menu li{
  margin-left:20px;
  position:relative;
}
.menu li a{
  display:block;
  width:100%;
  height:100%;
}
.menu li:after{
  content:"";
  width:100%;
  height:2px;
  position:absolute;
  bottom:10px;
  left:0;
  background:#000;
  transition:.6s;
  transform:scale(0,1);
  transform-origin:center bottom;
}
.menu li:hover{
}
.menu li:hover:after{
  transform:scale(1,1);
  opacity:.6;
}
.c1{
  padding:0 10px;
}
.title{
  width:100%;
  height:300px;
  text-align:center;
}
.title h2{
  font-size:50px;
  padding:50px 0;
}
.m_menu{
  display:flex;
  justify-content:center;
  width:100%;
}
.m_menu li{
  width:200px;
  text-align:center;
  margin:20px 10px;
  font-size:20px;
  font-weight:350;
}
.m_menu li a{
  background:#eae1cf;
  display:block;
  padding:15px 15px;
  box-shadow:1px 1px 1px #aaa;
  transition:.25s;
  border-radius:10px;
}
.m_menu li a:hover{
   padding-top:17px;
   padding-bottom:13px;
   text-shadow:1px 1px 1px #000;
   color:#eae1cf;
   box-shadow:0 1px 0px #eee;
}
.news{
  background:#eae1cf;
  padding:0 10px;
}

.news > h2{
  text-align:center;
  padding:15px 0;
  font-size:30px;
  font-weight:350;
}

.news_content{
  padding:10px 10px;
  margin-top:30px;
}
.news_content:first-child{
  margin:0;
}
.nc_header{
  display:flex;
  border-bottom:1px solid #000;
  padding:3px;
}
.n_title{
  font-size:20px;
  font-weight:350;
}
.n_category{
  margin-left:10px;
}
.n_time{
  margin-left:auto;
}
.n_description{
  line-height:1.4;
  margin-top:10px;
}

footer{
  border-top:1px solid #ebd3a4;
  background:#eae1cf;#eae1cf
  font-size:12px;
  text-align:center;
  padding:10px 0;
}
